@using True_Dive_Deep.Models
@model List<BCD>
@addTagHelper *,Microsoft.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}


<div class="row">
    @foreach (var bcd in Model)
    {
       <div class="col-md-4 mb-4">
            <div class="product-card h-100" style="width: 18rem;">
                <img src="~/lib/images/@bcd.ImageFileName" class="product-image card-img-top" alt="@bcd.Model"/>

                <h2 class="product-title">@bcd.Model @bcd.Brand</h2>
                <p class="product-description"> </p>
                <p class="price-tag">💰@bcd.PricePerDay DKK/pr.Dag</p>


                
                <form id="AddToCart" action="/Cart/AddToCart" method="post">
           
                <input type="hidden" name="productId" value="@bcd.ProductId" />
                <input type="hidden" name="productName" value="@bcd.Model" />
                <input type="hidden" name="brand" value="@bcd.Brand" />
                <input type="hidden" name="imageFileName" value="@bcd.ImageFileName" />
                <input type="hidden" name="price" value="@bcd.PricePerDay" />

                <select name="size" class="Selected-size" required>
                    <option value="">Vælg størrelse</option>
                    @foreach (var size in bcd.Sizes)
                    {
                        <option value="@size">@size</option>
                    }
                </select>

                <input type="number" name="quantity" value="1" min="1" class="form-control mt-2" />

                    <button onclick="showMessage()" type="submit" class="btn btn-primary mt-2">🛒 Tilføj til Kurv</button>
                </form>
                <p id="successMessage" class="success-message">Produkt Er Tilføjet Til Kurv!</p>
           </div>
        </div>
    }
</div>
<script>
    document.getElementById('AddToCart').addEventListener('submit', function(e) {
      e.preventDefault();
      const successMessage = document.getElementById('successMessage');
      successMessage.style.display = 'block';
    });
</script>