@using True_Dive_Deep.Models
@using True_Dive_Deep.Persistence
@model List<BCD>
@addTagHelper *,Microsoft.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}


<div class="row">
    @foreach (var bcd in Model)
    {
       <div class="col-md-4 mb-4">
            <div class="product-card h-100" style="width: 18rem;">
                <img src="~/lib/images/@bcd.ImageFileName" class="product-image card-img-top" alt="@bcd.Model"/>

                <h2 class="product-title">@bcd.Model @bcd.Brand</h2>
                <p class="product-description"> </p>
                <p class="price-tag">💰@bcd.PricePerDay DKK/pr.Dag</p>


                
                <form class="AddToCart" action="/Cart/AddToCart" method="post">
           
                <input type="hidden" name="productId" value="@bcd.ProductId" />
                <input type="hidden" name="productName" value="@bcd.Model" />
                <input type="hidden" name="brand" value="@bcd.Brand" />
                <input type="hidden" name="imageFileName" value="@bcd.ImageFileName" />
                <input type="hidden" name="price" value="@bcd.PricePerDay" />

                <select name="size" class="Selected-size" required>
                    <option value="">Vælg størrelse</option>
                    @foreach (var size in bcd.Sizes)
                    {
                        <option value="@size">@size</option>
                    }
                </select>

                <input type="number" name="quantity" value="1" min="1" class="form-control mt-2" />

                    <button type="submit" class="btn btn-primary mt-2">🛒 Tilføj til Kurv</button>
                </form>
               
                <p id="successMessage-@bcd.ProductId" class="success-message" style="display: none;">Produkt Er Tilføjet Til Kurv!</p>
           </div>
        </div>
    }
</div>
<script>
  
        document.querySelectorAll(".AddToCart").forEach(form => {
            form.addEventListener("submit", function(e) {
                e.preventDefault();
                const currentForm = this;
                const formData = new FormData(currentForm);
                const productId = formData.get("productId");
            const successMessage = document.getElementById(`successMessage-${productId}`);

            fetch(currentForm.action, {
                method: currentForm.method,
                body: formData

            })
            .then(response => {
                if (response.ok) {
                    successMessage.style.display = "block";
                    setTimeout(() => {
                        successMessage.style.display = "none";
                    }, 5000)
               } else {
                   
                    console.error("Fejl ved tilføjelse til kurv. Serveren returnerede en fejl.");
                }
            })
            .catch(error => {
                
                console.error('Netværksfejl:', error);
            });
        });
    });
</script>