@using True_Dive_Deep.Models
@model List<BCD>
@addTagHelper *,Microsoft.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}


<div class="row">
    @foreach (var bcd in Model)
    {
       <div class="col-md-4 mb-4">
            <div class="product-card h-100" style="width: 18rem;">
                <img src="~/lib/images/@bcd.ImageFileName" class="product-image card-img-top" alt="@bcd.Model"/>

                <h2 class="product-title">@bcd.Model @bcd.Brand</h2>
                <p class="product-description"> </p>
                <p class="price-tag">💰@bcd.PricePerDay DKK/pr.Dag</p>

                    <select class="Selected-size" aria-label="Vælg størrelse">
                        <option selected>Vælg størrelse</option>
                        @foreach (var size in bcd.Sizes)
                        {
                            <option value="@size">@size</option>
                        }
                    </select>
                <div class="actions">
                        <a class="btn btn-info" href="#" class="btn btn-secondary">Se Mere</a>
                        <a class="btn btn-book btn btn-primary" asp-controller="Cart" asp-action="Add">🛒Tilføj til Kurv</a>
                </div>
           </div>
        </div>
    }
</div>