@using True_Dive_Deep.Models
@model List<Mask_Snorkel>
@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}
<div class="row">
    @foreach (var mask_snorkel in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="product-card h-100" style="width: 18rem;">
                <img src="~/lib/images/@mask_snorkel.ImageFileName" class="product-image card-img-top" alt="@mask_snorkel.Model" />

                    <h2 class="product-title">@mask_snorkel.Model @mask_snorkel.Brand</h2>
                    <p class="product-description"> </p>
                    <p class="price-tag">💰@mask_snorkel.PricePerDay DKK/pr.Dag</p>

                <form action="/Cart/AddToCart" method="post">
                    <input type="hidden" name="productId" value="@mask_snorkel.ProductId" />
                    <input type="hidden" name="productName" value="@mask_snorkel.Model" />
                    <input type="hidden" name="brand" value="@mask_snorkel.Brand" />
                    <input type="hidden" name="imageFileName" value="@mask_snorkel.ImageFileName" />
                    <input type="hidden" name="price" value="@mask_snorkel.PricePerDay" />

                    <input type="number" name="quantity" value="1" min="1" class="form-control mb-2" />

                    <button type="submit" class="btn btn-primary">🛒 Tilføj til Kurv</button>
                </form>
            </div>
        </div>
    }
</div>
