@using True_Dive_Deep.Models
@model List<RegulatorSet>

@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}
<div class="row">
    @foreach (var regulatorSet in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="product-card h-100" style="width: 18rem;">
                <img src="~/lib/images/@regulatorSet.ImageFileName" class="product-image card-img-top" alt="@regulatorSet.Brand" />

                    <h2 class="product-title">@regulatorSet.Brand</h2>
                    <p class="product-description">
                        1.Trin: @regulatorSet.StepOne
                        2.Trin: @regulatorSet.StepTwo
                        Octopus: @regulatorSet.Octopus
                    </p>
                    <p class="price-tag">💰@regulatorSet.PricePerDay DKK/pr.Dag</p>
                <form class="AddToCart" action="/Cart/AddToCart" method="post">
                    <input type="hidden" name="productId" value="@regulatorSet.ProductId" />
                    <input type="hidden" name="productName" value="@regulatorSet.Brand" />
                    <input type="hidden" name="brand" value="@regulatorSet.Brand" />
                    <input type="hidden" name="imageFileName" value="@regulatorSet.ImageFileName" />
                    <input type="hidden" name="price" value="@regulatorSet.PricePerDay" />

                    <input type="number" name="quantity" value="1" min="1" class="form-control mb-2" />

                    <button type="submit" class="btn btn-primary">🛒 Tilføj til Kurv</button>
                </form>
                <p id="successMessage-@regulatorSet.ProductId" class="success-message">Produkt Er Tilføjet Til Kurv!</p>
            </div>
        </div>
    }
</div>
<script>
    document.querySelectorAll(".AddToCart").forEach(form => {
            form.addEventListener("submit", function(e) {
                e.preventDefault();
                const currentForm = this;
                const formData = new FormData(currentForm);
                const productId = formData.get("productId");
            const succesMessage = document.getElementById(`successMessage-${productId}`);

            fetch(currentForm.action, {
                method: currentForm.method,
                body: formData

            })
            .then(response => {
                if (response.ok) {
                    succesMessage.style.display = "block";
                    setTimeout(() => {
                        succesMessage.style.display = "none";
                    }, 5000)
               } else {

                    console.error("Fejl ved tilføjelse til kurv. Serveren returnerede en fejl.");
                }
            })
            .catch(error => {

                console.error('Netværksfejl:', error);
            });
        });
    });
</script>