@using True_Dive_Deep.Models
@model List<Tank>
@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}
<div class="row">
    @foreach (var tank in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="product-card h-100" style="width: 18rem;">
                <img src="~/lib/images/@tank.ImageFileName" class="product-image card-img-top" alt="@tank.Brand" />

                    <h2 class="product-title">@tank.Brand</h2>
                    <p class="product-description">
                        Volumen: @tank.Volume Liter
                    </p>
                    <p class="price-tag">💰@tank.PricePerDay DKK/pr.Dag</p>

                <form asp-controller="Cart" asp-action="AddToCart" asp-route-id="productId" method="post">
                    <input type="hidden" name="productId" value="@tank.ProductId" />
                    <input type="hidden" name="brand" value="@tank.Brand" />
                    <input type="hidden" name="imageFileName" value="@tank.ImageFileName" />
                    <input type="hidden" name="price" value="@tank.PricePerDay" />
                    <input type="number" name="quantity" value="1" min="1" class="form-control mb-2" />

                    <button type="submit" class="btn btn-primary">🛒 Tilføj til Kurv</button>
                </form>
            </div>
        </div>
    }
</div>
