@using True_Dive_Deep.Models
@model List<DivingSuit>
@{
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
}

<div class="row">
    @foreach (var divingSuit in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="product-card h-100" style="width: 18rem;">
                <img src="~/lib/images/@divingSuit.ImageFileName" class="product-image card-img-top" alt="@divingSuit.Model" />

                    <h2 class="product-title">@divingSuit.Model @divingSuit.Brand</h2>
                    <p class="product-description">
                        Type: @divingSuit.Type
                        Tykkelse: @divingSuit.Thickness mm
                    </p>
                    <p class="price-tag">💰@divingSuit.PricePerDay DKK/pr.Dag</p>

                     <select class="Selected-size" aria-label="Vælg Køn">
                        <option selected>Vælg Køn</option>
                        @foreach (var gender in divingSuit.Gender)
                        {
                        <option value="@gender">@gender</option>
                        }
                    </select>

                    <select class="Selected-size" aria-label="Vælg størrelse">
                        <option selected>Vælg størrelse</option>
                        @foreach (var size in divingSuit.Sizes)
                        {
                            <option value="@size">@size</option>
                        }
                    </select>
                    <div class="actions">
                        <a class="btn btn-info" href="#" class="btn btn-secondary">Se Mere</a>
                        <a class="btn btn-book btn btn-primary" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@divingSuit.DivingSuitId">🛒Tilføj til Kurv</a>
                    </div>
            </div>
        </div>
    }
</div>