@using True_Dive_Deep.Models
@model List<Tank>
@{
    Layout = "_Layout";
}
<div class="row">
    @foreach (var tank in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100" style="width: 18rem;">
                <img src="~/lib/images/@(tank.Brand.Replace(" ", "").ToLower()).jpg" class="card-img-top" alt="@tank.Brand" />
                <div class="card-body">
                    <h5 class=" card-title">Mærke: @tank.Brand</h5>
                    <p class="card-text">
                        Mærke: @tank.Brand<br />
                        Volumen: @tank.Volume Liter<br />
                        Pris pr. dag: @tank.PricePerDay kr<br />
                    </p>
                    <a href="#" class="btn btn-primary">Se mere</a>
                </div>
            </div>
        </div>
    }
</div>
