@using True_Dive_Deep.Models
@model List<CartItem>

@{
    ViewData["Title"] = "Din Kurv";
}

<h2 class="mb-4">Din Kurv</h2>

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Cart - @Model.Count items</h5>
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model)
                        {
                            <div class="row mb-4">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded">
                                        <img src="~/lib/images/@item.ImageFileName" class="w-100" alt="@item.ProductName" />
                                    </div>
                                </div>

                                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                    <p><strong>@item.ProductName</strong></p>
                                    <p>Brand: @item.Brand</p>
                                    <p>Size: @item.SelectedSize</p>
                                </div>

                                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                    <div class="d-flex mb-2" style="max-width: 200px">
                                        <input type="number" value="@item.Quantity" class="form-control me-2" min="1" readonly />
                                    </div>
                                    <p class="text-start text-md-center">
                                        <strong>@item.PricePerDay DKK/pr.Dag</strong>
                                    </p>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <p><strong>Total amount:</strong> @Model.Sum(i => i.PricePerDay * i.Quantity) DKK</p>
                    </div>
                </div>

                <button class="btn btn-primary btn-lg btn-block">Betal her</button>
            </div>
        </div>
    </div>
</section>
